<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="layout" content="main"/>
<title>Importing data from xml file</title>
</head>
<body>
  <div class="body">
  <g:link controller="XMLImport" action="index">
  Importing data from xml file
  </g:link>
  </div>
</body>
</html>