<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="layout" content="main" />
        <title>Solution</title>
    </head>
    <body>
        <div class="nav">
   			  <span class="menuButton">
   			  <a class="home" href="/">Home</a>
   			  </span>
     </div>
        <div class="body">
        </div>
    </body>
</html>